---
---
// grid

* {
  box-sizing: border-box;
}

.section {
  position: relative;
  text-align: center;
  -webkit-transform: matrix(1,0,0,1,0,0);
  -ms-transform: matrix(1,0,0,1,0,0);
  -o-transform: matrix(1,0,0,1,0,0);
  transform: matrix(1,0,0,1,0,0);
  -webkit-transition: all .3s ease-in-out 0s;
  -o-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.exo-logo {
  white-space: nowrap;
  background: url(../img/exo-booking-square-white.png) no-repeat center;
  height: 35vh;
  margin: 2em 0;
  background-size: contain;
}
.exo-booking > h1{
  font-family: "zeronero";
  font-size: 4rem;
  color: white;
  margin: 2em 0;
}
.exo-booking:after {
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
}
.exo-artists {
    margin: 0 20vw;
}
@font-face {
  font-family: "zeronero";
  src: url('../img/zeronero.ttf');
}
.text-white {
  color: white;
}
.text-red {
  color: rgb(205, 23, 26);
}
.text-white,
.text-red {
  margin: 0 0.2em;
  font-family: "zeronero";
  font-size: 2rem;
  text-transform: uppercase;
}
h2 {
  font-family: Poppins;
  font-size: 28px;
  min-height: 30px;
  white-space: nowrap;
  overflow: hidden;
}
.bmp {
  font-size: 23px !important;
}

.title,
h4 {
  font-size: 24px;
  font-family: Poppins;
  color: white !important;
}
.title {
  padding: 1.5vh 0;
}
h3 {
  font-size: 26px;
  font-family: Poppins;
  color: white !important;
}

.form {
  padding: 0 5vw;
  text-align: center;
}

label {
  font-family: "Open sans";
  color: white;
}

.text-muted {
  color: lightgray;
}

.send,
.input-medium,
.form-control {
  outline: 0;
  background: transparent;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Open sans";
  color: white;
}
.send {
  margin-bottom: 3vh;
}

h3:hover,
h3:visited {
    text-decoration: none;
}

.exo {
  color: white !important;
}

p {
  font-family: "Open Sans";
  font-size: 12px;
}
@media (min-width: 576px) {
  p {
    font-family: "Open Sans";
    font-size: 12px;
  }
}
@media (min-width: 768px) {
  p {
    font-family: "Open Sans";
    font-size: 13px;
  }
}
@media (min-width: 1200px) {
  .desktop-excerpt {
    display: block !important;
    min-height: 21vh;
  }
}

.grid {
  display: block;
  /*min-height: 100vh;*/
}

.navbar-custom {
  border-color: transparent;
  margin-bottom: 0;
  min-height: initial;
  background: 0 0;
  -webkit-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar:after, .navbar:before {
    content: " ";
    display: table;
}

:after, :before {
    box-sizing: border-box;
}

.artist:hover {
    color: rgb(51, 51, 51);
    background-color: rgb(230, 230, 230);
    border-color: rgb(173, 173, 173);
}
.artist:hover .artist-picture > img {
    -webkit-filter: brightness(130%);
}

.artist_grid {
  background-color: white;
}

.artist_grid .row:only-child {
    margin-left: 0;
    margin-right: 0;
}

.row:after, .row:before {
    content: " ";
    display: table;
}

.navbar:after {
    clear: both;
}

.artist_socials {
  display: -webkit-flex;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social-item {
  margin-bottom: 15px;
  text-align: center;
  flex: 1;
}

.book {
  font-size: 18px;
  border-radius: 0;
  font-family: "Open Sans";
  letter-spacing: 0.4em;
  margin: 0 27px;
  display: block;
}

.navbar-custom.top-nav-collapse .navbar-header {
    background: #000;
}

.fa:visited,
.fa {
    color: #afafaf;
    margin-top: 10px;
    font-size: 2.5rem !important;
    text-decoration: none;
}
.fa:hover {
  text-decoration: none;
  color: #23527c;
}

.fa:before {
    width: 75px;
    vertical-align: middle;
    font-family: FontAwesome;
}

.navbar-custom .navbar-header {
  -webkit-transition: background .25s ease;
  -o-transition: background .25s ease;
  transition: background .25s ease;
}

.navbar-custom .navbar-over-right {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
    -webkit-transform: translate(100%,0);
    -ms-transform: translate(100%,0);
    -o-transform: translate(100%,0);
    transform: translate(100%,0);
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    height: 100%;
    max-height: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: 0;
    background: #E3E3E3;
}

.navbar-toggle {
  border: 0;
}

.navbar-custom .navbar-collapse {
    border-top: none;
    box-shadow: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    background: rgba(0,0,0,.25);
}

.navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: initial;
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    -webkit-overflow-scrolling: touch;
}

.navbar:after, .navbar:before {
    content: " ";
    display: table;
}

.genre {
    font-family: Poppins;
    padding: 10px 0;
    font-weight: 700;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    min-height: 11vh;
}

.artist-content {
  padding: 0 10px;
}

.artist {
  padding: 0;
  overflow: hidden;
}

.welcome-wrapper {
  height: 100vh;
  position: relative;
}

.down-arrow {
  height: auto;
  width: 135px;
  left: 50%;
}
.artists-arrow {
  font-family: Poppins;
  color: white;
  font-size: 6rem;
  margin-bottom: 25px;
}
.welcome-arrow {
  bottom: 25px;
  position: absolute;
  width: 100%;
  text-align: center;
}

.exo-welcome {
  height: 100%;
}
.exo-contact,
.exo-welcome {
  text-align: center;
  width: 100%;
  position: absolute;
  background-color: black;
  align-items: center;
}

.contact {
  height: 100vh;
  background-image: linear-gradient(to bottom, white 0%, #5d4157 100%);
}

.artist-picture{
    width: 100%;
}

.artist-picture img {
    width: 100%;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col {
		margin: 1% 0 1% 0%;
	}
}

@media only screen and (max-width: 480px) {
	.span_2_of_2, .span_1_of_2 { width: 100%; }
}
