---
---
@media screen and (max-width: 1292px) {
    body > div > ul {
        padding-right: 40px;
    }
}

// todo : change this
h1 {
    color: white;
    padding-left: 200px;
    font-size: 5vw;
}

.navbar-collapse {
    max-height: 165px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #080;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar-fixed-top {
    height:  3.75rem;
    background-color: #f3f2f1;
}

.header-padding {
    padding: 0 .9375rem;
}

body {
    background-color: #f3f2f1;
}

li .resp {
    width: 100%;
}

.post {
    background-color: white;
}

a.deco-none {
    cursor: default!important;
    color: #000000 !important;
    text-decoration: none;
}

.row-padding,
.row-no-padding {
    padding-left: 0;
}

.row-padding {
    padding-right: 0;
}

// Gallery

#gallery {
  width: 600px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin: 100px auto;
  border: 2px solid #003C72;
}

#navigation {
  list-style: none;
  padding: 0;
  margin: 0;
  float: left;
}

#navigation li {
  padding: 0;
  margin: 0;
  float: left;
  clear: both;
}

#navigation li a img {
  display: block;
  border: none;
}

#navigation li a {
  display: block;
}

#full-picture {
  width: 500px;
  height: 375px;
  overflow: hidden;
  float: left;
}