---
---
@media screen and (max-width: 1292px) {
    body > div > ul {
        padding-right: 40px;
    }
}

// todo : change this
h1 {
    color: white;
    padding-left: 200px;
    font-size: 5vw;
}

a {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.navbar-collapse {
    max-height: 165px;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #080;
}

.navbar-brand {
  padding: 0px;
}

.navbar-brand > img {
  height: 100%;
  padding: 15px;
  width: auto;
}

.navbar-fixed-top {
    height:  3.75rem;
    background-color: #f3f2f1;
}

.header-padding {
    padding: 0 .9375rem;
}

body {
    background-color: #f3f2f1;
}

li .resp {
    width: 100%;
}

.post {
    background-color: white;
}

a.deco-none:hover,
a.deco-none {
    cursor: default!important;
    color: #000000 !important;
    text-decoration: none;
}

.row-padding,
.row-no-padding {
    padding-left: 0;
}

.row-padding {
    padding-right: 0;
}

.social {
    float: right;
}
.fa:first-child {
    margin-left: 0;
}
.fa {
    margin-left: 15px;
    font-size: 4rem !important;
    text-decoration: none;
    color: #f3f2f1;
}
.fa:focus,
.fa:hover {
    text-decoration: none;
    color: #555;
}
.fa:before {
    width: 75px;
    vertical-align: middle;
    font-family: FontAwesome;
}

@media screen and (max-width: 576px) {
    .artist {
        text-align: center;
    }
}
.artist {
    padding: 30px 30px 30px 30px;
    background-color: rgba(80, 80, 80, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;    
}
.artist >h1 {
    display: inline-block;
    float: left;
    margin: 0;
    color: #f3f2f1;
}

.artist-actuality {
    background-color: #FFF;
    padding-bottom: 10px;
}
.artist-bio {
    font-size: 2rem;
}

.artist-container {
    margin-top: 25px;
}

.divider {
    position: relative; /* Brings the div above the header:after element */
    background: white; /* Must be same as body */
    margin: 0 auto;
    width: 28px;
}
.divider > img {
    display: block;
    width: 28px;
    opacity: 0.2;
}
.divider-wrapper:after {
    content: '';
    display: block;
    margin-top: -16px; /* Negative margin up by half height of logo + half total top and bottom padding around logo */
    height: 5px;
    width: 100%;
    background-color: #f3f2f1;
}

.divider-wrapper {
    background-color: white;
    margin: 0;
    padding: 0;
    height: 28px;
}

#logo img {
  display: block;
}


// Gallery

.carousel-inner {
    height: 40vh;
}
div.item {
    height: 40vh;
    width: 100%;
    overflow: hidden;
}

div.item > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 40vh;
}
