---
layout: post
title: Hubbub music blog
tagline: sample tag test
---

<ul>
    <div class="col-md-12 post">
        {% for post in site.posts limit:1 %}
            <div class="col-md-9">
              {% assign image = post.images[0] %}
              {% include image.html image=image %}
            </div>
            <div class="col-md-3">
                <a href="{{ post.url }}">{{ post.title }}</a>
                {{ post.excerpt }}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col-sm-12">
            Nouveautés
            <div class="row">
                <div class="col-md-3 post">
                    {% for post in site.posts limit:2 offset:1 %}
                        <li class="resp">
                            {% assign image = post.images[0] %}
                            {% include image.html image=image %}
                            <a href="{{ post.url }}">{{ post.title }}</a>
                            {{ post.excerpt }}
                        </li>
                    {% endfor %}
                </div>
                <div class="col-md-3 post"><!-- i.e. playlists -->
                    {% for post in site.posts limit:2 offset:3 %}
                        <li class="resp">
                            {% assign image = post.images[0] %}
                            {% include image.html image=image %}
                            <a href="{{ post.url }}">{{ post.title }}</a>
                            {{ post.excerpt }}
                        </li>
                    {% endfor %}
                </div>
                <div class="col-md-3 post"><!-- i.e. interviews -->
                    {% for post in site.posts limit:2 offset:5 %}
                        <li class="resp">
                            {% assign image = post.images[0] %}
                            {% include image.html image=image %}
                            <a href="{{ post.url }}">{{ post.title }}</a>
                            {{ post.excerpt }}
                        </li>
                    {% endfor %}
                </div>
                <div class="col-md-3 post">
                    {% for post in site.posts limit:2 offset:7 %}
                        <li class="resp">
                            {% assign image = post.images[0] %}
                            {% include image.html image=image %}
                            <a href="{{ post.url }}">{{ post.title }}</a>
                            {{ post.excerpt }}
                        </li>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</ul>
