---
layout: default
---

<div class="col-md-12">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          {% for image in page.images %}
            <div class="item {% if forloop.index0 == 0 %}active{% endif %}">
              <img src="{{ image.url }}" alt="Los Angeles">
            </div>
          {% endfor %}
        </div>
        <div class="artist clearfix">
            <h1 class="col-xs-12 col-md-9">{{ page.name }}</h1>
            <div class="social col-xs-12 col-md-3">
                {% for link in page.social %}
                    {% if link.url %}
                        <a class="fa fa-{{ link.name }}" href="{{ link.url }}"></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 artist-container">
    <div class="col-xs-12 col-md-4">
        <div class="col-md-12 artist-actuality">
            <div>
                <h2>Releases</h2>
                <ul>
                {% for release in page.releases %}
                    <li>{{ release.name }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-12 divider-wrapper">
            <div class="divider">
                <img src="{{site.baseurl}}/img/exo-booking-square.png" alt="exo booking" />
            </div>
        </div>
        <div class="col-md-12 artist-actuality">
            <div>
                <h2>Upcoming events</h2>
                <ul>
                {% for event in page.events %}
                    <li><span>{{ event.date }}</span> {{ event.name }}</li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-md-8">
        <div class="content artist-bio">
            {{ content }}
        </div>
    </div>
</div>
