---
layout: default
---

{% if 1 %} <!-- if videoBackground -->
    <h1>{{ page.name }}</h1>
    <div class="video-background">
        <div class="video-foreground">
          <iframe src="{{ page.youtubevideourl }}?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>

    <div id="vidtop-content">
        <div class="vid-info">
            <h1>{{ name }}</h1>
            <p>{{ content }}</p>
        </div>
    </div>
{% else %}
    {% for image in page.images limit 1 %}
        <img src="{{ image.url }}" alt="{{ image.url }}" title="{{ image.title }}" />
    {% endfor %}
{% endif %}
