<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=devide-width, initial-scale=1">
        <title>Exo booking</title>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:Semi-Bold"> -->
    <script src="/app/themes/gloam/dist/scripts/modernizr-9585160942.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>(window.jQuery && jQuery.noConflict()) || document.write('<script src="/wp/wp-includes/js/jquery/jquery.js"><\/script>')</script>
<script src="/app/themes/gloam/dist/scripts/main-9259e8a7d0.js"></script>
<script>
          window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;
        ga('create','UA-4083837-23','auto');ga('send','pageview')
  </script>
</head>
    <body class="home page">
      <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle lines-button x">
      <span class="sr-only">Toggle navigation</span>
      <span class="lines"></span>
    </button>
    <a class="navbar-brand page-scroll" href="#home">
      <img src="https://www.gloam.nl/app/themes/gloam/dist/svg/gloam_logo.svg" onerror="this.onerror=null; this.src='https://www.gloam.nl/app/themes/gloam/dist/images/gloam_logo.png'" width="225" height="92" alt="Gloam">
    </a>
  </div>
  <nav class="navbar-collapse navbar-right navbar-over-right col-sm-6 col-md-3">
    <ul class="main-nav nav navbar-nav">
      <li class="hidden active"><a href="#home"></a></li>
      <!-- Section Links -->

                        <li class="menu-item artists"><a class="page-scroll" href="#artists" title="Artists">Artists</a></li>

                        <li class="menu-item contact"><a class="page-scroll" href="#contact" title="Contact">Contact</a></li>

                        <li class="menu-item news"><a class="page-scroll" href="#news" title="News">News</a></li>

            <!-- Menu Links -->
                        <li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-4"><a href="https://bookings.a-boss.net/form/MjS0sNLGMMTH1pR-ytL8uQ6-fSOGVc2zzYQiyGpIUMqg" title="Booking" target="_blank">Booking</a>
                      </li>
                  </ul>
    <!-- Newsletter -->
          <div class="newsletter"><div id="mc_embed_signup">
<form action="//gloam.us12.list-manage.com/subscribe/post?u=bbdbebaa8c1058763bf0dc64e&amp;id=5289714bc6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
<div class="input-group form-group-lg">
	<input type="email" value="" placeholder="subscribe" name="EMAIL" class="required email" id="mce-EMAIL">
	<span class="input-group-btn">
		<button type="submit" name="subscribe" id="mc-embedded-subscribe"><i class="fa fa-envelope-o"></i></button>
	</span>
</div>
<div id="mce-responses" class="clear">
	<div class="response" id="mce-error-response" style="display:none"></div>
	<div class="response" id="mce-success-response" style="display:none"></div>
</div>
<div style="position: absolute; left: -5000px;"><input type="text" name="b_bbdbebaa8c1058763bf0dc64e_5289714bc6" tabindex="-1" value=""></div>
<div class="clear"></div>
</form>
</div></div>
        <!-- Email Links -->
        <!-- Social Media -->
          <ul class="social-media nav navbar-nav">
                  <li class="facebook"><a href="https://www.facebook.com/gloamagency/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                  <li class="instagram"><a href="https://www.instagram.com/gloamagency/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
      </nav>
</nav>




<section id="home" class="fs_video">
                        <div class="fs-bg visible-xs-block" style="background-image:url('https://www.gloam.nl/app/uploads/2015/11/GLOAM_v4_purplegreen_fallback-768x0-c-default.jpg');"></div>
  <video loop="" muted="" autoplay="" poster="https://www.gloam.nl/app/uploads/2015/11/GLOAM_v4_purplegreen_startframe-1280x0-c-default.jpg" class="fs-bg-vid hidden-xs">
    <source src="/app/uploads/2015/11/GLOAM_v4_purplegreen.webm" type="video/webm; codecs=&quot;vp8.0, vorbis&quot;">
    <source src="/app/uploads/2015/11/GLOAM_v4_purplegreen.mp4" type="video/mp4; codecs=&quot;avc1.4D401E, mp4a.40.2&quot;">
    <source src="/app/uploads/2015/11/GLOAM_v4_purplegreen.ogv" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
    <p class="alert">Sorry, but your browser does not support this video format.</p>
  </video>
  <div class="center-content">
    <div class="container">
      <a href="#artists" class="page-scroll">
        <h1 class="scroll-to-title">Artists</h1>
        <i class="icon-arrow-down"></i>
      </a>
    </div>
  </div>
      	  </section>









      <section class="artist_grid">
        <div class="row grid">
          <!-- <div class="grid-sizer col-xs-6 col-md-3"></div> -->
          {% for artist in site.posts %}
              <div class="item artist grid-item col-xs-6 col-md-3">
                  <div class="artist-picture">
                      <img src="{{ artist.images[0].url }}" />
                   </div>
                  <div class="artist-bio">
                    <h1>{{ artist.name }}</h1>
                    <p>{{ artist.excerpt }}<p>
                  </div>
              </div>
          {% endfor %}
        </div>
      </section>
    </body>
</html>
