<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=devide-width, initial-scale=1">
        <title>Exo booking</title>
        <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:Semi-Bold">
    </head>
    <body>
      <nav class="navbar navbar-default navbar-custom navbar-fixed-top top-nav-collapse">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#">Brand</a>
        </div>
        <div class="navbar-collapse navbar-right navbar-over-right col-sm-6 col-md-3">
          <ul class="main-nav nav navbar-nav">
            <li class="hidden active"><a href="#">Home</a></li>
            <li><a href="#about">Stay</a></li>
            <li><a href="#contact" data-toggle="collapse" data-target=".navbar-collapse.in">Close</a></li>
            <li><a href="#contact" data-toggle="collapse" data-target=".navbar-collapse.in">Close</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </nav>
      <section class="artist_grid">
        <div class="row grid">
          <!-- <div class="grid-sizer col-xs-6 col-md-3"></div> -->
          {% for artist in site.posts %}
              <div class="item artist grid-item col-xs-12 col-sm-6 col-md-3">
                  <div class="artist-picture">
                      <img src="{{ artist.images[0].url }}" />
                   </div>
                  <div class="artist-bio">
                    <h1>{{ artist.name }}</h1>
                    <p>{{ artist.excerpt }}<p>
                  </div>
                  <div class="artist_links row">
                  <div class="book_artist col-xs-12 col-sm-4 col-md-12 col-lg-4">
                    <a class="book btn btn-default btn-outline" href="https://bookings.a-boss.net:/form/MjS0sNLGMMTH1pR-ytL8uQ6-fSOGVc2zzYQiyGpIUMqg" target="_blank" title="Book Albert van Abbe">Book</a>
                  </div>
                  <div class="artist_socials col-xs-12 col-sm-8 col-md-12 col-lg-8">
                    <ul class="social_media">
                      <li class="personal"><a href="http://www.albertvanabbe.nl/" title="Visit Albert van Abbe website" target="_blank"><i class="fa fa-globe"></i></a></li>
                        <li class="soundcloud"><a href="https://soundcloud.com/albert_van_abbe" title="Visit Albert van Abbe SoundCloud page" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
                        <li class="facebook"><a href="https://www.facebook.com/albert.van.abbe" title="Visit Albert van Abbe Facebook page" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li class="ra"><a href="http://www.residentadvisor.net/dj/albertvanabbe" title="Visit Albert van Abbe Resident Advisor page" target="_blank"><i class="icon-resident-advisor"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
          {% endfor %}
        </div>
      </section>
    </body>
</html>
